

/*secction iconos contactos*/

.sectionTop {
    background-color: #21242e;
    height: 70px;


    .listTop {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 47px;
    }



    & i {
        color: #fa573a;
        font-size: 23px;
        ;

    }

    & p {
        display: none;
    }


}

/*logo + menu hamburguesa*/


.sectionNav {

    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    

}


.logoBox{
    
    width: 55%;
   

}

.logoImg {
    width: 100%;
}



.hamburgerBox{
    
    width: 100%;
    height: 75px;
    margin-top: 20px;
    z-index: 100;
    text-align: end;
    position: absolute;
    right: 0;
 
  


}

.hamburgerImg{

    width: 55px;
    height: 55px;
    margin-right: 40px;

  

   

}



.navBox{
    width: 100%;

    
    
   
}
.navTop {

    display: block;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;

  

}


.listNavTop {


   
    border-bottom: 1.5px solid #C6C6C6;
    justify-content: center;
    height: 60px;
    line-height: 60px;



}

.listNavTopBottom {


    justify-content: center;
    height: 60px;
    line-height: 60px;


}



.linkHome {
    text-decoration: none;
    color: #fa573a;
}

.linkMenu {
    text-decoration: none;
    color: #C6C6C6;
}

.linkMenu:hover{
    color: #fa573a;

}

.linkBlog {
    text-decoration: none;
    color: #C6C6C6;
}

.linkBlog:hover{
    color: #fa573a;

}

.linkTeam {
    text-decoration: none;
    color: #C6C6C6;
}

.linkTeam:hover{
    color: #fa573a;

}

.navBoxScreen{
    display: none;
}

.navTop{

    display: none;
}

.hamburgerBox:hover{


    .navTop{

        display: block;

    }

   

}



/*sección imagen de fondo*/

.backgroundImg {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/fondo.jpg);
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 40px;

    & h1 {

        color: #ffffff;
        font-size: 25px;
        font-family: "Englebert";


    }

    .titleWelcome {

        color: #fa573a;
        font-size: 14px;
        font-weight: bold;


    }

    .textPrice {

        color: #ffffff;
        font-size: 14px;
        font-weight: bold;


    }

    .linkFoodMenu {

        display: inline-block;
        border: 1.5px solid #fa573a;
        width: 120px;
        height: 35px;
        padding: 5px;
        background-color: #fa573a;
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        line-height: 35px;
        text-align: center;


        .linkFoodMenu i {

            display: inline-block;

        }

    }

    .linkFoodMenu:hover {


        background: transparent;
        border: 1.5px solid #fa573a;


    }

    .iconSocialMedia {
        display: flex;
        gap: 28px;
    }

    .iconSocialMedia i {

        font-size: 25px;
        color: #ffffff;

    }



}