/*secction iconos contactos*/

.sectionTop {
    background-color: #21242e;
    height: 70px;


    .listTop {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }



    & i {
        color: #fa573a;
        font-size: 23px;
        ;

    }

    & p {
        display: none;
    }


}

/*logo + menu hamburguesa*/


.sectionNav {

    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 18px;

}

.logoBox {

    width: 100%;

}


.logoImg {
    width: 100%;
}






.hamburger {
    width: 10%;
}




.navTop {

    min-width: 350px;
    max-width: 1024px;
    text-align: center;

}


.navTop li {


    display: block;
    border-bottom: 1.5px solid #C6C6C6;
    justify-content: center;
    height: 45px;
    line-height: 45px;


}



.linkHome {
    text-decoration: none;
    color: #fa573a;
}

.linkMenu {
    text-decoration: none;
    color: #C6C6C6;
}

.linkBlog {
    text-decoration: none;
    color: #C6C6C6;
}

.linkTeam {
    text-decoration: none;
    color: #C6C6C6;
}



.hamburger:hover .navTop ul {

    display: block;

}



/*sección imagen de fondo*/

.backgroundImg {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/fondo.jpg);
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 40px;

    & h1 {

        color: #ffffff;
        font-size: 25px;
        font-family: "Englebert";


    }

    .titleWelcome {

        color: #fa573a;
        font-size: 14px;
        font-weight: bold;


    }

    .textPrice {

        color: #ffffff;
        font-size: 14px;
        font-weight: bold;


    }

    .linkFoodMenu {

        display: inline-block;
        border: 1.5px solid #fa573a;
        width: 120px;
        height: 35px;
        padding: 5px;
        background-color: #fa573a;
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        line-height: 35px;
        text-align: center;


        .linkFoodMenu i {

            display: inline-block;

        }

    }

    .linkFoodMenu:hover {


        background: transparent;
        border: 1.5px solid #fa573a;


    }

    .iconSocialMedia {
        display: flex;
        gap: 28px;
    }

    .iconSocialMedia i {

        font-size: 25px;
        color: #ffffff;

    }



}