/*seccio iconos contacto*/

@media( min-width: 768px){

   .sectionTop {

    & a{

        display:flex;
        gap: 8px;
        text-decoration: none;
    
       }
    


    & i{
        color: #fa573a;
        font-size: 18px;;

    }

    & p{
        display: inline;
        font-size: 16px;
        color: #ffff
    }

    
}




    /*logo + menu hamburguesa*/


.sectionNav{
    
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;

}

.logoBox{

    width: 60%;
   
}


.logoImg{
    width: 100%;
}




.navTop{

    min-width: 350px;
    max-width: 1024px;
    text-align: center;

}


.navTop ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navTop li{
    border: none;


}

  
.linkHome{
    text-decoration: none;
    color:#fa573a;
}

.linkMenu{
    text-decoration: none;
    color:#C6C6C6;
}

.linkBlog{
    text-decoration: none;
    color:#C6C6C6;
}

.linkTeam{
    text-decoration: none;
    color:#C6C6C6;
}


.hamburger{
    display: none;
}

.backgroundImg{

    background-image: url(../../images/fondo.jpg);
    background-position: center center;
    width: auto;
    height: 450px;
 }






@media(min-width> 1024px){

}
       
 