/*seccio iconos contacto*/

@media(min-width: 768px) {


    header,
    main,
    footer {
        box-sizing: border-box;
    }

    .sectionTop {

        
        & .listTop{

            padding: 0 10% 0 11%;
        }
   
       


        & a {

            display: flex;
            gap: 8px;
            text-decoration: none;

        }



        & i {
            color: #fa573a;
            font-size: 18px;
            ;

        }

        & p {
            display: inline;
            font-size: 16px;
            color: #ffff
        }


    }

    /*logo y menu navegacion*/


   

   .sectionNav {

    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 10%;
   


   }



    .hamburgerBox{

        display: none;
    }

    .navBoxScreen{

        display: flex;
        justify-content: end;
        align-items: center;
       
        
        
    }

    .navTopScreen{

        display: flex;
        gap: 50px;    
   
    }

    .linkHomeScreen{
        font-size: 18px;
        text-decoration: none;
        color: #fa573a;
    }
    
    .linkMenuScreen {
        font-size: 18px;
        text-decoration: none;
        color: #C6C6C6;
    }
    
    .linkMenuScreen:hover{
        font-size: 18px;
        color: #fa573a;
    
    }
    
    .linkBlogScreen {
        font-size: 18px;
        text-decoration: none;
        color: #C6C6C6;
    }
    
    .linkBlogScreen:hover{
        color: #fa573a;
    
    }
    
    .linkTeamScreen {
        font-size: 18px;
        text-decoration: none;
        color: #C6C6C6;
    }
    
    .linkTeamScreen:hover{
        color: #fa573a;
    
    }



   



    .backgroundImg {

        background-image: url(../../images/fondo.jpg);
        background-position: center center;
        width: auto;
        height: 450px;
    }

    /*sección imagen de fondo*/

    .backgroundImg {

        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/fondo.jpg);
        height: 80vh;
        display: flex;
        gap: 15px;
        padding: 0 10%;

        & h1 {


            font-size: 30px;



        }

        .titleWelcome {


            font-size: 15px;



        }

        .textPrice {


            font-size: 15px;



        }

        .linkFoodMenu:hover {


            background: transparent;
            border: 1.5px solid #fa573a;


        }



    }


    /*main seccion princial*/

    main {

        margin: 4% 10%;
        box-sizing: border box;



    }


    /*seccion servicios*/

    .ourServices {

        font-size: 30px;



    }


    .separador {

        width: 100px;

    }








    .articleServices h3 {

        font-size: 14px;

    }

    .articleServices p {

        font-size: 14px;
        line-height: 1.5em;
    }


    .read {
        font-size: 14px;
    }

    /*titulo seccion hitory*/


    .sectionHistoryGrid{

      
      
    
        & figure{
    
            width: 100%;
            border: 3px solid #fa573a;
            margin-bottom: 30px;
            transform: none;
    
            & img{
                width: 100%;
                height: auto;
                transition: 3s;
                transform: none;
            }
    
            & img:hover{
               transform: rotate(15deg);
            }
    
        }
    }


    .ourHistory {

        font-size: 30px;




    }


    .separador {
        width: 100px;

    }





    .historyBox {



        & h3 {
            font-size: 18px;

        }

        & h4 {
            font-size: 18px;


        }

        & p {
            font-size: 14px;

        }
    }


    /* seccion history*/

    .flecha {
        width: 50px;
        height: 50px;
        margin: 10px;



        & i {


            font-size: 50px;
        }

    }


    .footer {



        & .listFooter {

            gap: 6px;

        }

        & .listFooter li {


            font-size: 16px;

        }

        & .listFooter a {


            font-size: 16px;


        }



    }







}








@media(min-width: 1024px) {


    
   





    /*sección imagen de fondo*/

    .backgroundImg {

        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/fondo.jpg);
        height: 80vh;
        display: flex;
        gap: 15px;


        & h1 {


            font-size: 40px;



        }

        .titleWelcome {


            font-size: 20px;



        }

        .textPrice {


            font-size: 20px;



        }

        .linkFoodMenu:hover {


            background: transparent;
            border: 1.5px solid #fa573a;


        }





    }


    /*titulo seccion servicios*/

    .ourServices {

        font-family: "Englebert";
        font-size: 30px;
        text-align: center;


    }

    .ourServices span {
        color: #fa573a;
    }

    .separadorBox {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;

    }



    .separador {
        color: #fa573a;
        width: 100px;

    }


    .separadorSpan {
        color: #fa573a;
        font-weight: bold;
        position: absolute;
        bottom: 0.09em;

    }


    .sectionServices {

        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 40px 0 60px 0;
        justify-items: center;
    }

    .sectionServices article {

        border-left: 2px solid #c6c6c6;
        border-bottom: 0;

    }

    .articleServices h3 {

        font-size: 16px;
        margin-bottom: 7px;
    }

    .articleServices p {

        font-size: 16px;
        line-height: 1.7em;
    }


    .read {
        font-size: 16px;
    }

    /*titulo seccion hitory*/


    .ourHistory {

        font-size: 30px;




    }


    .separador {
        width: 100px;

    }



    .sectionHistoryGrid {

        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        margin: 60px 0 60px 0;
        gap: 30px;


        & figure {

            width: 90%;
            border: 3px solid #fa573a;

            & img {
                width: 100%;
                transition: 3s;
            }

            & img:hover {
                transform: rotate(15deg);
            }

        }
    }


    .historyBox {



        & h3 {
            font-size: 20px;
            margin-bottom: 18px;
        }

        & h4 {
            font-size: 20px;
            margin-bottom: 18px;

        }

        & p {
            font-size: 16px;
            margin-bottom: 18px;

        }
    }


    /* seccion history*/

    .flecha {
        width: 50px;
        height: 50px;
        margin: 10px;



        & i {


            font-size: 50px;
        }

    }



    /*footer*/

    .footer {



        & .listFooter {

            gap: 8px;
            justify-content: start;
            padding-left: 11%;

        }

        & .listFooter li {


            font-size: 18px;

        }

        & .listFooter a {


            font-size: 18px;


        }



    }


















}